<div class="todos">
	<form (submit)="addTodo()">
	  <input
		type="text"
		name="inputTodo"
		placeholder="Enter todo..."
		class="todo-input"
		[(ngModel)]="inputTodo"
	  />
	  <input type="submit" value="Add Todo" class="todo-submit" />
	</form>
  
	<div *ngFor="let todo of todos; let i = index" class="todo" [ngClass]="{ 'done': todo.completed, 'completed-row': todo.completed, 'postponed-todo': todo.postponed  }">
		<div class="id">{{ i + 1 }}</div>
		<div class="content" *ngIf="!todo.editing">{{ todo.content }}</div>
		<input *ngIf="todo.editing" [(ngModel)]="todo.content" (blur)="saveTodo(i)" (keydown.enter)="saveTodo(i)" (keydown.esc)="cancelEdit(i)" />
		<button class="mark-done" (click)="markAsDone(i)">Mark as Done</button>
		<button class="postpone" (click)="postponeTodo(i)">Postpone</button>
		<button class="delete" (click)="deleteTodo(i)">Remove</button>
		<button class="edit" (click)="editTodo(i)">Edit</button>
	  </div>
  
	<button class="clean-button" (click)="cleanCompleted()" *ngIf="todos.length > 0">Clear</button>
	<button class="restore-button" (click)="restorePostponed()" *ngIf="todos.length > 0">Restore</button>
	<div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>  